*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

/* Nav Bar */

.navbar{
    background-color: black;
}

.navbar ul{
    display: flex;
    justify-content: right;
}

.logo{
    float: left;
}

.navbar ul.logo{
    color: white;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 20;
    transition: .5s;
}

.navbar ul li a:hover{
    background-color: rgb(194, 194, 194);
    color: black;
}

/* Main Section */

main{
    width: 100%;
    margin: auto;
}

/* Footer Nav */

footer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-top: solid 1px;
    background-color: white;   
}

footer ul{
    display: flex;
    justify-content: left;

}

footer ul li{
    list-style: none;
}

footer ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-size: 16;
    transition: .5s;
}

footer ul li a:hover{
    background-color: rgb(36, 36, 36);
    color: white;
}